<div class="sideNavBar">
    <div class="userProfile">
        <div id="img"></div>
        <p>John Doe</p>
        <p>mannem.sai99@gmail.com</p>
    </div>
    <div class="menus">
        <div>
            <mat-icon>dashboard</mat-icon>
            <p>Dashboard</p>
        </div>
        <div>
            <mat-icon>credit_card</mat-icon>
            <p>Site Details</p>
        </div>
        <div>
            <mat-icon>horizontal_split</mat-icon>
            <p>Migrations</p>
        </div>
        <div>
            <mat-icon>backup</mat-icon>
            <p>Backups</p>
        </div>
        <div>
            <mat-icon>broken_image</mat-icon>
            <p>Collaborators</p>
        </div>
        <div>
            <mat-icon>gamepad</mat-icon>
            <p>Support Tickets</p>
        </div>
        <div>
            <mat-icon>loupe</mat-icon>
             <p>Open New Ticket</p>
        </div>
    </div>
</div>